* {
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: url(../img/fondo.jpg) #000;
    background-size: cover;
    color:#fff;
    font-size: 16px;
}
.wrap {
    width:90%;
    max-width: 400px;
    margin: auto;
    /*margin:auto;*/
}
.widget {
    padding-top: 4em;
    padding-left: 1em;
    width: 98%;
    margin: auto;
    /*margin: 32px;*/
}
.widget p {
    display: inline-block;
    line-height: 1em;;
}
.fecha {
    font-family: Oswald, Arial;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.3125rem;
    /*margin-bottom: 5px;*/
    background: rgba(0,0,0,0.5);
    padding: 20px;
    width: 100%;
}
.reloj {
    font-family: Oswald, Arial;
    width: 100%;
    padding: 20px;
    font-size: 4rem;
    text-align: center;
    background: rgba(0,0,0,.5);

}
.reloj .caja-segundos {
    display:inline-block;
}
.reloj .ampm, .reloj .segundos {
    display: block;
    font-size: 2rem;
}

@media(min-width:600px) {
    .wrap {
        max-width: 600px;
    }
    .widget {
        padding-top: 6em;
        padding-left: 0.5em;
    }
}
@media(min-width:1300px) {
    .wrap {
        max-width: 1000px;
    }
    .widget {
        padding-top: 8em;
        padding-left: 4em;
    }
}